# Project Group - 4

## Members and student numbers:
Hsuan-An Chu: 5914647\
Jarrik Overbosch: 6105734\
Mats Poppe: 5883245\
Cian Rippen: 5054141\
Sam Terstappen: 6078720

# Research Objective
## What is the influence of the weather on travel behaviour in The Netherlands?
* What is the correlation between amount of percipitation and amount of transport passengers, based on OV chipcard checkins? 
* What is the effect of weather on road traffic?  
* What is the correlation between the weather and congestion?
* Is there a difference in behaviour between cities and rural areas?
* Tipping points of behaviour (Amount of rain that starts people to change their behaviour)




*Requires data modeling and quantitative research in Transport, Infrastructure & Logistics*

# Contribution Statement

*Be specific. Some of the tasks can be coding (expect everyone to do this), background research, conceptualisation, visualisation, data analysis, data modelling*

**Author 1**:

**Author 2**:

**Author 3**:

# Data Used

OV Chipcard checkins \
https://www.translink.nl/library \
Weather data \
https://dataplatform.knmi.nl/group/precipitation \
Congestion data \
https://downloads.rijkswaterstaatdata.nl/filedata/

# Data Pipeline

### What is the correlation between amount of percipitation and amount of transport passengers, based on OV chipcard checkins?

In [10]:
import pandas as pd
file = "Literature and Data/20230908_Instappers_per_uur_export_V3.csv"

df = pd.read_csv(file)
df["Aantal_check_ins"] = df["Aantal_check_ins"] * 1000
df["Aantal_check_ins"] = df["Aantal_check_ins"].astype('int')
df.tail(30)

         Datum  Uur  Aantal_check_ins
5945  5-9-2023   18            216100
5946  5-9-2023   19            121400
5947  5-9-2023   20             91300
5948  5-9-2023   21             85100
5949  5-9-2023   22             67800
5950  5-9-2023   23             40000
5951  6-9-2023    0             12400
5952  6-9-2023    1              1500
5953  6-9-2023    2               600
5954  6-9-2023    3               700
5955  6-9-2023    4              1900
5956  6-9-2023    5             16200
5957  6-9-2023    6             86500
5958  6-9-2023    7            308500
5959  6-9-2023    8            388000
5960  6-9-2023    9            230100
5961  6-9-2023   10            179000
5962  6-9-2023   11            193200
5963  6-9-2023   12            249100
5964  6-9-2023   13            234200
5965  6-9-2023   14            261600
5966  6-9-2023   15            300300
5967  6-9-2023   16            327300
5968  6-9-2023   17            328400
5969  6-9-2023   18            197900
5970  6-9-2023   19            117600
5971  6-9-2023   20             93300
5972  6-9-2023   21             86700
5973  6-9-2023   22             71400
5974  6-9-2023   23             41700