In [1]:
import pandas as pd

In [11]:
weather = pd.read_csv("Literature and data/KNMI_daily_0123-0923.csv")
weather.head()

   # STN  YYYYMMDD    FG   FXX     TG     DR    VVN
0    209  20230101    96   200
1    209  20230102    69   100
2    209  20230103    88   200
3    209  20230104   141   220
4    209  20230105    90   160

In [ ]:
rankings_pd.columns = ["stations", "dates", "windspeed","temperature","duration_rain",]